/* use google font of roboto, and default to sans serif otherwise. White background for now, may switch to photo later on. */
body {
    margin: 50px;
    font-family: 'Roboto', sans-serif;
    background-color: white;
}


/* define link behavior */

a:link {
    color: dodgerblue;
    text-decoration: none;
}

a:visited {
    color: darkgray;
}

.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    list-style: none;
    margin: 0;
    background: #0e5f7b;
}

/* make flex; work on navigation bar */

.navigation a {
    display: block;
    padding: .75em;
    color: white;
}

.navigation a:hover {
    background: #4a95ea;
}

/* grid behavior based on in-class example */

@media all and (max-width: 800px) {
    .navigation {
        justify-content: space-around;
    }
}

@media all and (max-width: 600px) {
    .navigation {
        flex-flow: column wrap;
        padding: 0;
    }
    .navigation a {
        text-align: center;
        padding: 10px;
        border-top: 1px solid rgba(255,255,255,0.3);
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }
    .navigation li:last-of-type a {
        border-bottom: none;
    }
}